/** Base colors */
$clr-dark-a0: #000000;
$clr-light-a0: #ffffff;

/** Theme primary colors */
$clr-primary-a0: #a369fa;
$clr-primary-a10: #af7afb;
$clr-primary-a20: #bb8afc;
$clr-primary-a30: #c59bfd;
$clr-primary-a40: #d0abfe;
$clr-primary-a50: #dabcfe;

/** Theme surface colors */
$clr-surface-a0: #2a2a33;
$clr-surface-a10: #3e3e47;
$clr-surface-a20: #54535b;
$clr-surface-a30: #6a6a71;
$clr-surface-a40: #818187;
$clr-surface-a50: #99999e;

/** Theme tonal surface colors */
$clr-surface-tonal-a0: #353044;
$clr-surface-tonal-a10: #494457;
$clr-surface-tonal-a20: #5d596a;
$clr-surface-tonal-a30: #736e7e;
$clr-surface-tonal-a40: #898592;
$clr-surface-tonal-a50: #9f9ca7;
