/** -------------------------------
 * Primary colors
 * ------------------------------- */
$primary-colors: (
	a0: #5b198d,
	a10: #6f359a,
	a20: #814da6,
	a30: #9466b3,
	a40: #a67ec0,
	a50: #b897cd
);

/** -------------------------------
 * Surface colors
 * ------------------------------- */
$surface-colors: (
	a0: #1a1d26,
	a10: #2f323a,
	a20: #464850,
	a30: #5d5f67,
	a40: #76787e,
	a50: #909197,
	aMax: #acaeb6
);

/** -------------------------------
 * Tonal surface colors
 * ------------------------------- */
$surface-tonal-colors: (
	a0: #211e2f,
	a10: #363343,
	a20: #4c4958,
	a30: #63606e,
	a40: #7b7984,
	a50: #94929c
);
