.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  background-color: var(--surface-a10-color);

  .linksContainer {
    position: sticky;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .link {
    text-decoration: none;
    color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover .linkIcon {
      background-color: var(--surface-a20-color);
    }

    .linkIcon {
      padding: 0.5rem;
      width: 3rem;
      height: 3rem;
      background-color: transparent;
      border-radius: 0.25rem;
    }
  }
}

.header {
  background-color: var(--primary-a50-color);
  color: var(--background-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 2.5rem;
  }

  p {
    margin: 0.5rem 0 0;
    font-size: 1.2rem;
  }
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  min-height: 100vh;
}

.footer {
  background-color: var(--primary-a50-color);
  color: var(--background-color);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
