.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--surface-a50-color);
  height: 48px;
  font-size: 14px;
  background-color: var(--surface-a10-color);
  color: var(--foreground-color);

  &:focus {
    outline: 2px solid var(--primary-a30-color);
  }
}
