.label {
  padding-left: 0.25rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--surface-a10-color);
  height: 48px;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}
